<!DOCTYPE html>
<html ng-app="Providence">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Responsive Bootstrap Advance Admin Template</title>

<link href="assets/css/bootstrap.css" rel="stylesheet" />
<link href="assets/css/font-awesome.css" rel="stylesheet" />
<link href="assets/css/basic.css" rel="stylesheet" />
<link href="assets/css/custom.css" rel="stylesheet" />
<link href="assets/css/xeditable.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Providence</a>
			</div>

			<div class="header-right">

				<a href="../logout" class="btn btn-danger" title="Logout"><i
					class="fa fa-exclamation-circle fa-2x"></i></a>


			</div>
		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li>
						<div class="user-img-div">
							<img src="assets/img/crown.jpg" class="img-thumbnail" />

							<div class="inner-text">
								Administrator <br />
							</div>
						</div>

					</li>


					<li><a href="admin.html"><i class="fa fa-dashboard"></i>Dashboard</a>
					</li>
					<li><a href="#"><i class="fa fa-desktop "></i>UI Elements
							<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>Tabs
									& Panels</a></li>
						</ul></li>
					<li><a href="#"><i class="fa fa-yelp "></i>Extra Pages <span
							class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="invoice.html"><i class="fa fa-coffee"></i>Invoice</a>
							</li>
						</ul></li>
					<li><a href="table.html"><i class="fa fa-flash "></i>Data
							Tables </a></li>
					<li><a href="#"><i class="fa fa-bicycle "></i>Forms <span
							class="fa arrow"></span></a>
						<ul class="nav nav-second-level">

							<li><a href="form.html"><i class="fa fa-desktop "></i>Basic
							</a></li>
						</ul></li>
					<li><a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
					</li>
					<li><a href="error.html"><i class="fa fa-bug "></i>Error
							Page</a></li>
					<li><a href="login.html"><i class="fa fa-sign-in "></i>Login
							Page</a></li>
					<li><a href="#"><i class="fa fa-sitemap "></i>Multilevel
							Link <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="#"><i class="fa fa-bicycle "></i>Second
									Level Link</a></li>
							<li><a href="#"><i class="fa fa-flask "></i>Second Level
									Link</a></li>
							<li><a href="#">Second Level Link<span class="fa arrow"></span></a>
								<ul class="nav nav-third-level">
									<li><a href="#"><i class="fa fa-plus "></i>Third Level
											Link</a></li>
									<li><a href="#"><i class="fa fa-comments-o "></i>Third
											Level Link</a></li>

								</ul></li>
						</ul></li>

					<li><a class="active-menu" href="blank.html"><i
							class="fa fa-square-o "></i>Blank Page</a></li>
				</ul>
			</div>

		</nav>
		<div id="page-wrapper">
			<div id="page-inner" >
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3 "><a ng-href="#/users">
										<div class="alert alert-info text-center headerIcons">
											<i class="fa fa-users fa-5x"></i>
											<h4>Manage users</h4>
										</div>
										</a>
									</div>
									<div class="col-md-3 "><a ng-href="#/history">
										<div class="alert alert-success text-center headerIcons">
											<i class="fa fa-history fa-5x"></i>
											<h4>View history</h4>
										</div>
										</a>
									</div>
									<div class="col-md-3 ">
										<div class="alert alert-danger text-center headerIcons">
											<i class="fa fa-lock fa-5x"></i>
											<h4>Manage doors</h4>
										</div>
									</div>
									<div class="col-md-3 ">
										<div class="alert alert-warning text-center headerIcons">
											<i class="fa fa-cogs fa-5x"></i>
											<h4>Settings</h4>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"  data-ng-view="">
				</div>
			</div>
		</div>
	</div>
	
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>
	<script src="assets/js/jquery-2.1.4.min.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="assets/js/xeditable.min.js"></script>
	<script src="assets/js/moment.js"></script>
	<script src="assets/js/jquery.metisMenu.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/controllers/historyController.js"></script>
	<script src="assets/js/controllers/userController.js"></script>
	<script src="assets/js/controllers/userViewController.js"></script>
	<script src="assets/js/controllers/userHistoryController.js"></script>
	<script src="assets/js/controllers/groupController.js"></script>
	<script src="assets/js/controllers/groupDetailController.js"></script>
	<script src="assets/js/controllers/groupMembersController.js"></script>
	<script src="assets/js/controllers/transactionController.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>
