<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div id="custom-search-input">
					<div class="input-group col-md-4">
						<input id="searchText" ng-model="searchText" type="text"
							class="form-control input-md" placeholder="Search by surname" />
						<span class="input-group-btn">
							<button class="btn btn-info btn-md" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed">
					<tr style="font-weight: bold">
						<td style="width: 25%">Name</td>
						<td style="width: 25%">Card number</td>
						<td style="width: 25%">Email</td>
						<td style="width: 25%">Entered</td>
					</tr>
					<tr ng-repeat="room in getFilteredRooms()">
						<td>{{ room.personName || '' }}</td>
						<td>{{ room.cardNumber || '' }}</td>
						<td>{{ room.email || '' }}</td>
						<td>{{ getNormalTime(room.lastAction) || '' }}</td>
					</tr>
				</table>
				<uib-pagination total-items="rooms.length"
					ng-model="currentPage" max-size="itemsPerPage"
					class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
			</div>
		</div>
	</div>