<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div ng-switch on="choose">
					<!-- PAGE OF EDITING USER INFORMATION -->
					<div ng-switch-default ng-controller="roomController">
						<div id="custom-search-input">
							<div class="input-group col-md-4">
								<input ng-model="searchText" type="text"
									class="form-control input-md" placeholder="Search" /> <span
									class="input-group-btn">
									<button class="btn btn-info btn-md" type="button">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>
						<table class="table table-bordered table-hover table-condensed">
							<tr style="font-weight: bold">
								<td style="width: 30%">Room IP Address</td>
								<td style="width: 30%">Room Name</td>
								<td style="width: 20%">Door state</td>
								<td style="width: 20%"></td>
							</tr>
							<tr ng-repeat="room in getFilteredRooms()">
								<td><span editable-text="room.roomIp" e-name="roomIp"
									e-form="rowform" e-required> {{ room.roomIp || '' }} </span></td>
								<td><span editable-text="room.roomName" e-name="roomName"
									e-form="rowform" e-required> {{ room.roomName || '' }}
								</span></td>
								<td><span editable-select="room.doorState"  e-ng-options="g.text as g.text for g in statuses" e-form="rowform" e-name="doorState" e-required>
								{{ room.doorState || 'not set' }}
								 </span></td>
								<td style="white-space: nowrap">
									<form editable-form name="rowform"
										onbeforesave="saveRoom($data,room.roomId)"
										ng-show="rowform.$visible" class="form-buttons form-inline"
										shown="inserted == room">
										<button type="submit" ng-disabled="rowform.$waiting"
											class="btn btn-primary">Save</button>
										<button type="button" ng-disabled="rowform.$waiting"
											ng-click="rowform.$cancel()" class="btn btn-default">
											Cancel</button>
									</form>
									<div class="buttons" ng-show="!rowform.$visible">
										<button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
										<button class="btn btn-danger"
											ng-click="removeRoom($index,room.roomId)">Delete</button>
									</div>
								</td>
							</tr>
						</table>
						<uib-pagination total-items="users.length" ng-model="currentPage"
							max-size="itemsPerPage" class="pagination-sm"
							boundary-links="true" rotate="false"></uib-pagination>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
