<div class="col-md-12">
	<div class="row">
		<div class="col-lg-12">
			<a ng-href="#/history"><div
					class="btn btn-sq btn-primary col-md-6">
					<i class="fa fa-clock-o fa-2x"></i><br /> Current activity
				</div></a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div id="custom-search-input">
					<div class="input-group col-md-4">
						<input id="searchText" ng-model="searchText" type="text"
							class="form-control input-md" placeholder="Search by surname" /> <span
							class="input-group-btn">
							<button class="btn btn-info btn-md" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
				<table class="table table-bordered table-hover table-condensed">
					<tr style="font-weight: bold">
						<td style="width: 20%">Name</td>
						<td style="width: 20%">Card number</td>
						<td style="width: 20%">Time</td>
						<td style="width: 20%">Event</td>
						<td style="width: 20%">Verify mode</td>
					</tr>
					<tr ng-show="transactions.length==0">
						<td colspan="3">There is no history. Visit us soon</td>
					</tr>
					<tr ng-repeat="transaction in getFilteredTransactions()">
						<td>{{ transaction.user.userName || '' }}</td>
						<td>{{ transaction.cardId || '' }}</td>
						<td>{{ getNormalTime(transaction.time) || '' }}</td>
						<td>{{ transaction.eventType.eventDesription || '' }}</td>
						<td>{{ transaction.verifyMode.modeDescription || '' }}</td>
					</tr>
				</table>
				<uib-pagination total-items="transactions.length" ng-model="currentPage"
					max-size="itemsPerPage" class="pagination-sm" boundary-links="true"
					rotate="false"></uib-pagination>
			</div>
		</div>
	</div>
</div>
