<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		 <property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/providence
		</property> 
		<!--<property name="hibernate.connection.url">
			jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/app
		</property> -->
		<property name="hibernate.connection.useUnicode">
			true
		</property>
		<property name="hibernate.connection.characterEncoding">
			utf8
		</property>
		<property name="hibernate.connection.charSet">
			utf8
		</property>
		 <property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
		</property>
		<!-- <property name="hibernate.connection.username">
			adminQ9YLGu9
		</property>
		<property name="hibernate.connection.password">
			etsWPHJMM4ri
		</property> -->
		<mapping class="ua.nure.kovaljov.entity.dbentity.Person" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.Group" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.History" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.EventType" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.VerifyMode" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.Room" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.User" />
		<mapping class="ua.nure.kovaljov.entity.dbentity.Role" />
	</session-factory>
</hibernate-configuration>
